### Documentation build 
docs/build

### Jar files (db2 drivers)
*.jar

### Egg info 
*.egg-info
*.egg
*.EGG
*.EGG-INFO

### Build and distribution
build/
dist/

### Compiled and backup files
__pycache__
*.pyc
*.pyo
*.tmp*
*.bak
