<?xml version=1.0 encoding=UTF-8 standalone=no ?>
<configuration>
  <databases>
    <database host="DB2HOST" name="BLUDB" port="50001"/>
  </databases>

  <dsncollection>
    <dsn alias="BLUMIX" host="DB2HOST" name="BLUDB" port="50001">
      <parameter name="SecurityTransportMode" value="SSL"/>
    </dsn>
  </dsncollection>

</configuration>
