[Data Sources]
BLUMIX = DASHDB

[ODBC]
Trace         = 0
TraceAutoStop = 0
TraceFile     = 
TraceLibrary  = 

[BLUMIX]
Driver      = /tmp/dsdriver/lib/libdb2o.so 
Description = DB2 Warehouse connection
DATABASE    = BLUDB
HOSTNAME    = DASHDBHOST
PORT        = 50001
PROTOCOL    = TCPIP
SECURITY    = SSL